﻿@model LaptopShop.Models.EF.Category

@{
    ViewData["Title"] = "Category";
}

<div class="row">
    <div class="col-md-12">
        <h2>Category</h2>
        <hr />
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <br />
            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success w-100"> Submit </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-primary w-100">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
