﻿@model LaptopShop.Models.EF.Category

@{
    ViewData["Title"] = "Details";
}

<h2>Category details</h2>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.Id) </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.Name) </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.Description) </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
