﻿@model IEnumerable<LaptopShop.Models.EF.Category>

@{
    ViewData["Title"] = "Index";
}

<h2>All category</h2>
<br />

<table class="table">
    <thead>
        <tr>
            <td> @Html.DisplayNameFor(model => model.Id) </td>
            <td> @Html.DisplayNameFor(model => model.Name) </td>
            <td> @Html.DisplayNameFor(model => model.Description) </td>
            <th> <a asp-action="AddOrEdit" class="btn btn-success"><i class="fa-regular fa-plus"> New </i></a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.Id) </td>
                <td> @Html.DisplayFor(modelItem => item.Name) </td>
                <td> @Html.DisplayFor(modelItem => item.Description) </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.Id">
                        <div class="btn-group">
                            <a asp-action="AddOrEdit" asp-route-id="@item.Id" class="btn btn-warning">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure to delete this record?')">
                                <i class="far fa-trash-alt"></i>
                            </button>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
