﻿@model LaptopShop.Models.EF.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Detailed specifications</h2>
<hr />

<div>        
    <dl class="row">
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Id) </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Brand) </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Name) </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.OperatingSystem) </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.OperatingSystem)
        </dd>
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Monitor) </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Monitor)
        </dd>
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.CPU) </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CPU)
        </dd>
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.RAM) </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.RAM)
        </dd>
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Storage) </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Storage)
        </dd>
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Graphics) </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Graphics)
        </dd>
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Weight) </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Color) </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.BatteryInfor) </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.BatteryInfor)
        </dd>
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Warranty) </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Warranty)
        </dd>
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.ImageUrl) </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Price) </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.PromotionalPrice) </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.PromotionalPrice)
        </dd>
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Quantity) </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Category) </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
